    
    
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root{
        font-size: 62.5%;
        --pallet-heading: #0C3440;
        --pallet-label: #00453A;
        --pallet-input: #212529;
        --pallet-outline: #02799D;
        --pallet-second-outline: rgba(73, 80, 87, 0.3);
        --palet-placeholder: rgba(73, 80, 87, 0.50);
        --pallet-button: #02799D;
        --pallet-bg-button: #fff;
        --pallet-error: #F03E3E;
        --pallet-txt-erro: #fff;
        --pallet-input-bg: #DCE2E9;
        --bg-button-hover:hsl(194, 80%, 40%);
     }

    body, input, button{
        font-size: 1.6rem;
        line-height: 2rem;
     }

    body{
        background: #040924;
        font-family: 'Roboto', sans-serif;
    }

    .card{
        padding: 4.8rem 6.4rem 6.4rem;
        border-radius: .6rem;
        background: #FFF;
        box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.10);
        max-width: 42.8rem;
        margin-inline: auto;
    }
    
    .container{
        display: grid;
        place-content: center;
        height: 100vh;
    }

    .title{
        font-size: 3.2rem;
        line-height: 4rem;
    }

    form{
       width: 30rem; 
    }

    form h1{
       margin-bottom: 3.2rem;
    }

    form input{
        width: 100%;
        border: 1px solid var(--pallet-outline);
        background-color: var(--pallet-input-bg);
        padding: 1.6rem;
        border-radius: .4rem;
    }

    form label{
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: var(--pallet-label);
        margin-bottom: .8rem;
        display: block; /* Por que label eh in-line */
    }

    .input-wrapper + .input-wrapper{
        margin-top: 1.6rem;
    }

    form input:focus{
        outline: 2px solid var(--pallet-outline);
    }

    form input::placeholder{
        color: var(--palet-placeholder);
    }

    form button{
        margin-top: 3.2rem;
        padding: 1.6rem;
        width: 100%;
        border: none;
        background-color: var(--pallet-button);
        color: var(--pallet-bg-button);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .8rem;
        font-weight: bold;
        border-radius: .4rem;
        font-size: 1.6rem;
        line-height: 2rem;
        cursor: pointer;
        transition: background .4s;
    }

    form button:hover{
        background-color: var(--bg-button-hover);
    }

    /* Modal */

    .modal-wrapper{
        position: absolute;
        inset: 0; /* utilizar a tela toda*/
        background: rgba(0, 0, 0, 0.70);
        display: grid;
        place-content: center;
        opacity: 0;
        visibility: hidden;
    }

    .modal-wrapper.open{
        opacity: 1;
        visibility: visible;
    }

    .modal{
        position: relative;
    }

    .modal button{
        background: none;
        border: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        transition: transform .3s;
    }

    .modal button:hover{
        transform: scale(1.1); /* aumentar o tamanho ou a escala */
    }

    .error-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--pallet-error);
        font-size: 1.6rem;
        line-height: 2rem;
        color: var(--pallet-txt-erro);
        padding: .8rem 0;
        text-align: center;
        font-weight: bold;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-30px);
        transition: transform .5s;
    }

    .open{
         visibility: visible;
         opacity: 1;
         transform: translateY(0);
    }

    .putModalOff{
        display: none;
    }

    