    
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@600&display=swap');
    
    /*


    default >
    
    font-family: 'DM Sans', sans-serif;

    main > 

    font-family: 'Montserrat', sans-serif; 

    
    */
    
    :root{
        font-size: 62.5%;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

   body{
    background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    
   }

   main{

    border-radius: .6rem;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 4.8rem 6.4rem 6.4rem;
    width: min(42.8rem, 90%);
    margin: 0 auto;
    text-align: center;

   }

   .hide{

    display: none;

   }

    /* screen 1 css configs */

   main h1{

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    color: #34355B;
    margin-bottom: 1.6rem;

   }

   main p{

    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba(52, 53, 91, 0.80);
   
   }

   /* remover as setas de acessibilidade do input do tipo number > */

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }

   main input{

    color: #34355B;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: .4rem 0 0 .4rem;
    background: #DCE2E9;
    width: 5rem;
   }

   .screen1 button{

    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    background:  #7879F1;
    border-radius: 0 .4rem .4rem 0;
    cursor: pointer;
    transition: background 0.4s;
    
   }

   .screen1 button:hover{

    background:  #8787fd;

   }

   form{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.8rem;

   }

   input, button {

       border: none;
       padding: 1.6rem;

   }

   /* Screen 2 configs */

   .screen2 h2{

    font-family: 'DM Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3.3rem;
    

   }

   .screen2 button{

    cursor:  pointer;
    border-radius: .4rem;
    background:#7879F1;
    color: #FFF;
    font-weight: 700;
    padding: 1.6rem;
    transition: background 0.4s;

   }

   .screen2 button:hover{

    background:  #8787fd;

   }