    
    @charset "UTF-8";

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root{

    font-size: 62.5%;

    --tableHeadColor:  #092D38;
    --background: #000;
    --tableBorder: #4A808C;
    --tableFontColor: #E1E1E6;
    --removeButtonColor: #F75A68;
    --tableDarkenedBackgroundColor: rgba(6, 22, 27, 0.50);
    --tableWhiteningTableBackground: #06181C;
    --ScrollColor: #4A808C;
    --favoriteFriendButton: #065E7C;
    --inputBackgroundColor: #06181C;
    --inputFontColor: #7C7C8A;
    }

    .app{
        
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
    }

    .container{
        display: grid;
        grid-template-areas: 
        "header"
        "table";
        padding: 15rem 16rem;
        gap: 9.7rem;
        width: 100%;
        height: 100vh;
        background-color: #000;
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-area: "header";
    }

    .search{
        display: flex;
        gap: .8rem;
    }

    .search button{
        background-color: var(--favoriteFriendButton);
        border-radius: 1rem;
        padding: 1.2rem 3.2rem;
        border: none;
        display: flex;
        align-items: center;
        gap: .8rem;
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--tableFontColor);
        cursor: pointer;
        transition: background .4s;
    }

    .search button:hover{
        background-color: #0988b3;
    }

    .search button::placeholder{
        font-family: 'Roboto', sans-serif;
        color: var(--inputFontColor);
        font-size: 1.6rem;
    }

    table{
        grid-area: table;
        overflow-y: scroll;
        border-collapse: collapse;
       
        
    }

    table thead{
        background-color: var(--tableHeadColor);
        color: var(--tableFontColor); 
    }

    .search input{
        background-color: var(--inputBackgroundColor);
        color: white;
        width: 40rem;
        padding: 1.6rem;
        border: none;
        border-radius: 1rem;
    }

    .search input::placeholder{
        color: var(--inputFontColor);
    }

     table th{
        
        font-size: 1.5rem;
        background-color: var(--tableHeadColor);
        padding: 1.6rem 4rem;
        font-size: 2rem;
    }

    tr:nth-child(even){
        background-color: var(--inputBackgroundColor);
    }
    tr:nth-child(odd){
        background-color: var(--background);
    }

    table td button{
        color: var(--removeButtonColor);
        background-color: inherit;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        transition: color .4s;
    }

    table td button:hover{
        color: #fd4d5c;
    }


    tbody td{
        text-align: left;
        color: var(--tableFontColor);
        font-size: 2rem;
    }

    th{
       text-align: left;
       
    }


    table img{
        height: 5.6rem;
        width: 5.6rem;
        border-radius: 50%;
        margin-right: 1.6rem;
        margin-left: 4rem;
    }

    .user{
        align-items: left;
        width: 55rem;
    }

    .userGeneral{
        display: flex;
        align-items: center;
    }

    thead th:last-child{
        border-radius: 0 1rem 0 0;
    }

    thead th:first-child{
        border-radius: 1rem 0 0 0;
    }
   
    table p{
        font-weight: 400;
        color: #e1e1e6c7;
    }
    table a{
        color: var(--tableFontColor);
        text-decoration: none;
    }