    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --hue: 194;
    --primary-color: hsl(var(--hue), 100%, 63%);
    --text-color: #303030;

    --background:  #000;
    --white: #fff;
    --input: #06181C;
    --gray: #7C7C8A;
    --green: #06181C;
    --border: #4A808C;
    --remove: #F75A68;
    --header: #092D38;
}

body * {
    font-size: 1.6rem;
    font-family: var(--ff-primary);
     color: var(--text-color);
   
}

body{
    padding: 16rem 15rem;
    background-color: var(--background);
    font-family: "Roboto", "sans-serif";
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

button{
    cursor: pointer;
    border: 0;
    background-color: inherit;
}


#app{
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;

}

header{
display: flex;
align-items: center;
justify-content: space-between;

margin: 2.5rem 0;
}

header h1{
    font-size: 2rem;
    text-transform: uppercase;

}
.search{
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.search button:hover{
    filter: brightness(1.1);
}

.search button{
    background-color: var(--primary-color);
    font-family:  "Roboto", "sans-serif";
    display: flex;
    align-items: center;
    border-radius: 0 0.5rem 0.5rem 0;
    height: 3.5rem;
    transition: background .5s;
    padding: 2.2rem 3.2rem;
    border-radius: 5px;
    background: #065E7C;
    gap: .8rem;
    color: var(--white);

    font-size: 14px;
    font-weight: 700;

    img{
        height: 24px;
        width: 24px;
    }
}

.search input{
    border: none;
    border-radius: .4rem 0 0 .4rem;
    width: 43rem;
    padding:  0 .8rem;
    height: 3.5rem;
    padding: 2.2rem 3.2rem;
    background-color:  var(--input);
    color: var(--white);
}

.search input::placeholder{
    color: var(--gray);
}

table *{
    width: 100%;
    font-size: 1.4rem;
    color: var(--white);
    font-family:  "Roboto", "sans-serif";
}



table{
    border-collapse: collapse;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.4);

}

table tbody{
    height: 80px;
    overflow: auto;
}

table th{
   text-align: left;
   font-weight: 700;
   padding: 1.5rem;
   background-color: var(--header);

}

table th:first-child{
    border-top-left-radius: .4rem;
}

table th:last-child{
    border-top-right-radius: .4rem;
}


table td{
    padding: 1.5rem;
    text-align: left;
}


td.user img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}


tbody tr:nth-child(even){
background: var(--green);


}

tbody tr{
    border-bottom: .2px solid var(--border);
}

tbody tr:nth-child(odd){
    background: var(--background);
    
    
}

.followers button{
    color: red;
}



td.user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}



td.user{
    margin-left: .4rem;
    
    
}

td.user a{
    text-decoration: none;
}

td.user a p{
    font-weight: bold;
}

.remove{
    background: none;
    border: none;
    color: var(--remove);
    font-weight: 700;
    font-size: 1.7rem;
}

.teste{
    height: 50px;
    width: 50px;
}



